* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
h4{
  display: flex;
  align-items: center;
  color: black;
}
body {
  font-family: 'Poppins', sans-serif;
}
header{
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
.logo-container, .nav-links, .cart{
  display: flex;
}
.logo-container{
  flex: 1;
}
.logo{
  font-weight: 5px;
  margin: 5px;
}
nav{
  flex: 2;
}
.nav-links{
  justify-content: space-around;
}
.nav-link{
  color: grey;
  font-size: 18px;
  text-decoration: none;
}
.cart{
  flex: 1;
  justify-content: flex-end;
}